<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Actividad de integracion</title>
    <link rel="STYLESHEET" href="miestilo.css">
</head>

<body>
    <header>
        <img src="imagenes/logo.png" alt="logo" class="img-logo">
        <div class="destacado">
            <h1>Bienvenidos a nuestra pagina principal</h1>
        </div>
        
        <nav style="color: rgb(255, 255, 255);">
            <ul >
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Formulario de registro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="informacion">
                <p style="color:#d3a5b0">
                    Bienvenido a "Roco's Drink". Descubre nuestra cuidada selección de licores premium de todo el mundo. 
                    Déjate guiar por nuestros expertos para encontrar la bebida perfecta. 
                    Disfruta de una experiencia única en cada sorbo. ¡Te esperamos con los mejores sabores!
                </p>
                <br>
                <p>Nuestro espacio ha sido diseñado pensando en tu comodidad y disfrute. 
                    Sumérgete en una atmósfera moderna y sofisticada mientras exploras nuestras innovadoras 
                    presentaciones y experiencias de cata.</p>
            </div>
        </section>
        <section class="productos">
            <div class="contenedor-imagenes">
                <div class="imagen">
                  <img src="imagenes/imagen.banner1.png" alt="">
                  <div class="overlay">
                    <h2>Comprar</h2>
                  </div>
                </div>
                <div class="imagen">
                  <img src="imagenes/imagen.banner2.png" alt="">
                  <div class="overlay">
                    <h2>Comprar</h2>
                  </div>
                </div>
                <div class="imagen">
                  <img src="imagenes/imagen.banner3.png" alt="">
                  <div class="overlay">
                    <h2>Comprar</h2>
                  </div>
                </div>
              </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <ul class="social-links">
              <li><a href="https://www.facebook.com/" target="_blank"><img src="icon/facebook.png" alt="Facebook"></a></li>
              <li><a href="https://www.instagram.com/" target="_blank"><img src="icon/instagram.png" alt="Instagram"></a></li>
              <li><a href="https://twitter.com/" target="_blank"><img src="icon/twitter.png" alt="Twitter"></a></li>
            </ul>

            <p>Derechos de autor &copy; 2023 Rocio Anabel Gonzalez. Todos los derechos
            reservados</p>
          </div>
        
    </footer>
</body>

</html>